<section>
  <div class="page-container about-section-inner">
    <div class="about-section-info">
      <h2 class="secondary-title">О компании</h2>
      <div class="description">
        <p>Компания «ПримаСервис» работает на рынке международных грузоперевозок с 2007 года. Опыт, накопленный за эти годы, позволяет нам обеспечить высокий уровень качества услуг для наших партнеров,
          и мы по праву гордимся этим. Для выполнения заказов мы используем собственный автопарк.</p>
        <p>Специализация нашей компании - международные автомобильные грузоперевозки из стран Европы, Прибалтики в Россию, Казахстан, Среднюю Азию и Китай.</p>
        <p>Команда «ПримаСервис» ориентирована на качество и результат, а также на индивидуальный подход к каждой перевозке для своих клиентов.</p>
      </div>
    </div>
    <div>
      {{> ImageSwiper images=aboutSwiper}}
    </div>
  </div>
</section>
