<section id="directionSection" class="direction-section">
  <div class="page-container direction-section-content">
    <div class="direction-section-title">
      <h2 class="secondary-title dark-text text-center">Направления перевозок </h2>
      {{> SwitchType }}
    </div>
    <div id="importBox" class="fade-ease-in">
      <img class="hide-from-360" src="./icons/map/import.svg" alt="Import map" />
      <div class="direction-legend-box">
        {{> MapLegend title=import.from.title list=import.from.list collapsibleId="import.from.list" }}
        {{> MapLegend title=import.to.title list=import.to.list reversed=true collapsibleId="import.to.list" }}
      </div>
    </div>
    <div id="exportBox" class="fade-ease-in" style="display: none">
      <img class="hide-from-360" src="./icons/map/export.svg" alt="export map" />
      <div class="direction-legend-box">
        {{> MapLegend title=import.from.title list=export.from.list collapsibleId="export.from.list" }}
        {{> MapLegend title=import.to.title list=export.to.list reversed=true collapsibleId="export.to.list" }}
      </div>
    </div>
  </div>
</section>
