<div class="image-swiper-container">
  <div class="image-swiper">
    <div class="swiper-wrapper">
      {{#each images}}
        <div class="swiper-slide">
          <img src="{{ this }}" alt="">
        </div>
      {{/each}}
    </div>

    <div class="image-swiper-button-next">
      <img class="injectable-svg" src="./icons/arrow-box-right.svg" alt="right" />
    </div>
    <div class="image-swiper-button-prev">
      <img class="injectable-svg" src="./icons/arrow-box-left.svg" alt="left" />
    </div>
    <div class="side-opacity"></div>
    <div class="side-opacity" style="right: 0; transform: rotate(180deg);"></div>
  </div>
  <div class="image-swiper-pagination swiper-pagination"></div>
</div>
