<section class="main-landscape">
  <div
    style="background-image: url('./images/header-landscape.jpeg'); min-height: 610px; bottom: 0"
    class="background-image"
  >
  </div>
  <div class="page-container main-title-container">
    <h1 class="main-title-text">
      Обеспечиваем высокий уровень качества услуг для наших партнеров, и мы по праву гордимся этим
    </h1>
    <div class="main-stat-container">
      {{> StatCounter value="15" title="Лет на рынке" endsSymbol="+" }}
      {{> StatCounter value="150" title="Сцепок" endsSymbol="+" }}
      {{> StatCounter value="25" title="Направлений перевозок" endsSymbol="+" }}
    </div>
    <div class="main-stat-button-container">
      {{> Button title="Направлений перевозок" to="#directionSection" }}
    </div>
  </div>
</section>
