<div class="stat-counter">
  <span
    class="stat-counter-value"
    data-to-value="{{ value }}"
    {{#if endsSymbol}}data-ends-symbl="{{ endsSymbol }}"{{/if}}
  >
    0
  </span>
  <span class="stat-counter-title">{{ title }}</span>
</div>
