<div class="switch-wrapper">
  <div id="selectDirectionType" class="switch left">
    <button data-type="IMPORT" class="active" data-direction="left">
      Импорт
    </button>
    <button data-type="EXPORT" data-direction="right">
      Экспорт
    </button>
  </div>
</div>
