<section class="docs-section">
  <div class="page-container docs-container">
    <div class="docs-head">
      <h1 class="secondary-title">Пользовательское соглашение</h1>
      <p>
        Настоящее Пользовательское соглашение (далее — Соглашение) закрепляет особенности правоотношений, а также ответственности сторон, связанных с пользованием, а также получения информации посредством посещения сайта Общества с ограниченной ответственностью «ПримаСервис» (далее – ООО «ПримаСервис»), расположенного по <a href="https://primaservice.ru" class="accent-link">https://primaservice.ru</a> (далее – Сайт).
      </p>
    </div>
    <div class="docs-content">
      <div class="docs-content-article">
        <h2>1. Термины и определения, используемые в настоящем соглашении</h2>
        <ul>
          <li>
            <span>1.1.</span>
            <p><b>Сайт</b> — совокупность всей информации (текстовой и графической), находящаяся в сети интернет по адресу <a href="https://primaservice.ru" class="accent-link">https://primaservice.ru</a>, принадлежащая  Администратору.</p>
          </li>
          <li>
            <span>1.2.</span>
            <p><b>Администрация Сайта</b> — сотрудники Администратора, уполномоченные на изменение информации на Сайте.</p>
          </li>
          <li>
            <span>1.3.</span>
            <p><b>Администратор</b> — собственник сайта (ООО «ПримаСервис», ИНН 5013054242).</p>
          </li>
          <li>
            <span>1.4.</span>
            <p><b>Пользователь Сайта</b> (далее — Пользователь) — лицо, использующее Сайт Администратора.</p>
          </li>
          <li>
            <span>1.5.</span>
            <p><b>Стороны</b> — Администратор и Пользователь Сайта, заключившие Настоящее Соглашение.</p>
          </li>
          <li>
            <span>1.6.</span>
            <p><b>IP-адрес</b> — технический адрес Пользователя в сети интернет.</p>
          </li>
        </ul>
      </div>
      <div class="docs-content-article">
        <h2>2. Общие положения</h2>
        <ul>
          <li>
            <span>2.1.</span>
            <p>Настоящее Пользовательское Соглашение (далее — «Соглашение) регулирует отношения между Администратором и Пользователем Сайта, складывающиеся в процессе использования Пользователем Сайта.</p>
          </li>
          <li>
            <span>2.2.</span>
            <p>Администратор оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя, путем размещения новой редакции Соглашения на Сайте.</p>
          </li>
          <li>
            <span>2.3.</span>
            <p>Продолжение использования Сайта Пользователем означает принятие условий Соглашения и изменений к нему, внесенных в настоящее Соглашение.</p>
          </li>
          <li>
            <span>2.4.</span>
            <p>Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.</p>
          </li>
          <li>
            <span>2.5.</span>
            <p>Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями. Начиная просмотр Сайта, Пользователь считается принявшим условия Соглашения в полном объеме, без каких-либо оговорок и исключений.</p>
          </li>
        </ul>
      </div>
      <div class="docs-content-article">
        <h2>3. Предмет соглашения</h2>
        <ul>
          <li>
            <span>3.1.</span>
            <p>Предметом настоящего Соглашения является предоставление Пользователю доступа к информации и онлайн-сервисам, представленным на Сайте.</p>
          </li>
          <li class="docs-content-article-sublist">
            <div class="head-item">
              <span>3.2.</span>
              <p>Сайт предоставляет Пользователю следующие виды сервисов:</p>
            </div>
            <ul class="docs-content-article-sublist-inner">
              <li>
                <span>3.2.1.</span>
                <p>Свободный доступ к информации (текстовой и графической) с правом просмотра данной информации;</p>
              </li>
              <li>
                <span>3.2.2.</span>
                <p>Доступ к информации об оказываемых услугах и их стоимости, специальных акциях, бонусах и скидках;</p>
              </li>
              <li>
                <span>3.2.3.</span>
                <p>Доступ к другим видам сервисов расположенным на Сайте.</p>
              </li>
            </ul>
          </li>
          <li>
            <span>3.3.</span>
            <p>Под действие настоящего Соглашения подпадают все существующие на данный момент сервисы Сайта, а также любые их последующие модификации и появляющиеся в дальнейшем сервисы.</p>
          </li>
          <li>
            <span>3.4.</span>
            <p>Доступ к Сайту предоставляется на безвозмездной основе.</p>
          </li>
          <li>
            <span>3.5.</span>
            <p>Получая доступ к Сайту, Пользователь соглашается с условиями Соглашения и считается присоединившимся к настоящему Соглашению.</p>
          </li>
          <li>
            <span>3.6.</span>
            <p>Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.</p>
          </li>
          <li>
            <span>3.7.</span>
            <p>Пользователь несет персональную ответственность за сохранение конфиденциальности информации, а также за всю без исключения деятельность, которая ведётся от имени Пользователя.</p>
          </li>
        </ul>
      </div>
      <div class="docs-content-article">
        <h2>4. Права и обязанности сторон</h2>
        <ul>
          <li class="docs-content-article-sublist">
            <div class="head-item">
              <span>4.1.</span>
              <p><b>Администратор вправе:</b></p>
            </div>
            <ul class="docs-content-article-sublist-inner">
              <li>
                <span>4.1.1.</span>
                <p>Изменять правила пользования Сайтом, а также настоящее Соглашение. Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.</p>
              </li>
              <li>
                <span>4.1.2.</span>
                <p>В любое время и без предупреждения расширять, видоизменять, приостанавливать работу или полностью закрывать весь Сайт или любую его часть, а также ограничивать либо запрещать доступ к нему.</p>
              </li>
            </ul>
          </li>
          <li class="docs-content-article-sublist">
            <div class="head-item">
              <span>4.2.</span>
              <p><b>Пользователь вправе:</b></p>
            </div>
            <ul class="docs-content-article-sublist-inner">
              <li>
                <span>4.2.1.</span>
                <p>Получить доступ к использованию Сайта в ознакомительных и подобных целях, а также к онлайн сервисам, представленным на Сайте.</p>
              </li>
              <li>
                <span>4.2.2.</span>
                <p>Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не запрещенных законодательством Российской Федерации.</p>
              </li>
            </ul>
          </li>
          <li>
            <span>4.3.</span>
            <p>В случае необходимости получения информации относительно услуг Администратора Пользователь вправе связаться с Администратором напрямую посредством использования телефонной связи (<a href="tel:74951980790" class="accent-link">+7(495)198-07-90</a>) или электронной почты (<a href="mailto:info@primaservice.ru" class="accent-link">info@primaservice.ru</a>).</p>
          </li>
          <li class="docs-content-article-sublist">
            <div class="head-item">
              <span>4.4.</span>
              <p><b>Пользователь Сайта обязуется:</b></p>
            </div>
            <ul class="docs-content-article-sublist-inner">
              <li>
                <span>4.4.1.</span>
                <p>Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Сайта.</p>
              </li>
              <li>
                <span>4.4.2.</span>
                <p>Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.</p>
              </li>
              <li>
                <span>4.4.3.</span>
                <p>Использовать Сайт исключительно в законных целях и таким образом, чтобы не нарушать права других пользователей, не ограничивать и не препятствовать доступу других людей к Сайту и пользованию им.</p>
              </li>
            </ul>
          </li>
          <li class="docs-content-article-sublist">
            <div class="head-item">
              <span>4.5.</span>
              <p><b>Пользователю запрещается:</b></p>
            </div>
            <ul class="docs-content-article-sublist-inner">
              <li>
                <span>4.5.1.</span>
                <p>Копировать, опубликовывать, воспроизводить, передавать или распространять любым способом элементы содержания Сайта, полностью или частично, без предварительного письменного согласия Администратора.</p>
              </li>
              <li>
                <span>4.5.2.</span>
                <p>Нарушать надлежащее функционирование Сайта.</p>
              </li>
              <li>
                <span>4.5.3.</span>
                <p>Адаптировать, изменять и создавать производные работы из каких-либо элементов содержания Сайта. Любое другое использование содержания Сайта возможно лишь с предварительного письменного согласия Администратора.</p>
              </li>
              <li>
                <span>4.5.4.</span>
                <p>Осуществлять незаконные сбор и обработку персональных данных других лиц.</p>
              </li>
              <li>
                <span>4.5.5.</span>
                <p>Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами Сайта.</p>
              </li>
              <li>
                <span>4.5.6.</span>
                <p>Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к данному Сайту, а также к любым услугам, предлагаемым на Сайте.</p>
              </li>
              <li>
                <span>4.5.7.</span>
                <p>Отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="docs-content-article">
        <h2>5. Ответственность</h2>
        <ul>
          <li>
            <span>5.1.</span>
            <p>Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, Администратором не возмещаются.</p>
          </li>
          <li>
            <span>5.2.</span>
            <p>Нарушение настоящего Соглашения и действующего законодательства Российской Федерации влечет за собой гражданско-правовую и (или) административную и уголовную ответственность.</p>
          </li>
          <li class="docs-content-article-sublist">
            <div class="head-item">
              <span>5.3.</span>
              <p><b>Пользователю запрещается:</b></p>
            </div>
            <ul class="docs-content-article-sublist-inner">
              <li>
                <span>5.3.1.</span>
                <p>Задержки или сбои в работе Сайта, возникшие вследствие действия непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.</p>
              </li>
              <li>
                <span>5.3.2.</span>
                <p>Ненадлежащее функционирование Сайта, в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.</p>
              </li>
              <li>
                <span>5.3.3.</span>
                <p>Действия или бездействие любых лиц в отношении использования Сайта.</p>
              </li>
              <li>
                <span>5.3.4.</span>
                <p>Сбои и перерывы в работе Сайта и вызванные ими потери информации.</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="docs-content-article">
        <h2>6. Нарушение условий пользовательского соглашения</h2>
        <ul>
          <li>
            <span>6.1.</span>
            <p>Администратор вправе раскрыть любую собранную о Пользователе Сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования Сайта либо для установления (идентификации) Пользователя, который может нарушать или вмешиваться в права Администратора или в права других Пользователей Сайта.</p>
          </li>
          <li>
            <span>6.2.</span>
            <p>Администратор имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для выполнения положений действующего законодательства или судебных решений, обеспечения выполнения условий настоящего Соглашения, защиты прав Пользователей.</p>
          </li>
          <li>
            <span>6.3.</span>
            <p>Администратор имеет право раскрыть информацию о Пользователе, если действующее законодательство Российской Федерации требует или разрешает такое раскрытие.</p>
          </li>
          <li class="docs-content-article-sublist">
            <div class="head-item">
              <span>6.4.</span>
              <p>Администратор вправе без предварительного уведомления Пользователя прекратить доступ к Сайту:</p>
            </div>
            <ul class="docs-content-article-sublist-inner">
              <li>
                <span>6.4.1.</span>
                <p>Для IP-адреса Пользователя, если у Администратора есть основания полагать, что Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом;</p>
              </li>
              <li>
                <span>6.4.2.</span>
                <p>В случае прекращения действия Сайта либо по причине технической неполадки.</p>
              </li>
            </ul>
          </li>
          <li>
            <span>6.5.</span>
            <p>Администратор не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.</p>
          </li>
        </ul>
      </div>
      <div class="docs-content-article">
        <h2>7. Дополнительные условия</h2>
        <ul>
          <li>
            <span>7.1.</span>
            <p>Администрация Сайта не принимает встречные предложения от Пользователя относительно изменений настоящего Пользовательского соглашения.</p>
          </li>
          <li>
            <span>7.2.</span>
            <p>Все вопросы, не отраженные в настоящем Соглашении, регулируются законодательством Российской Федерации.</p>
          </li>
          <li>
            <span>7.3.</span>
            <p>В случае возникновения любых разногласий или споров между Сторонами настоящего Соглашения обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора). Получатель претензии в течение 30 календарных дней со дня ее получения письменно уведомляет заявителя претензии о результатах рассмотрения претензии.</p>
          </li>
          <li>
            <span>7.4.</span>
            <p>Информация, размещаемая на Сайте, не должна истолковываться как изменение настоящего Соглашения, за исключением изменений в самом тексте настоящего Соглашения.</p>
          </li>
          <li>
            <span>7.5.</span>
            <p>Документ «Политика конфиденциальности» действует одновременно с настоящим Соглашением и его положения должны неукоснительно соблюдаться Пользователем в процессе пользования Сайтом.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
