<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#2B2929">
  <title>Prima Service</title>
  <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="./favicon.ico" sizes="any">
  <link rel="icon" href="./favicon.svg" type="image/svg+xml">
  <link href="./assets/base.css" rel="stylesheet">
  <link href="./assets/ui-kit.css" rel="stylesheet">
  <link href="./assets/motion.css" rel="stylesheet">
  <link href="./assets/header.css" rel="stylesheet">
  <link href="./assets/docs.css" rel="stylesheet">
  <link href="./assets/footer.css" rel="stylesheet">
  {{> Head }}
</head>
<body>
{{> Header }}
{{> PrivacyPolicySection }}
{{> Footer }}
</body>
{{> BottomLinks }}
</html>
