<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#2B2929">
  <title>Prima Service</title>
  <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="./favicon.ico" sizes="any">
  <link rel="icon" href="./favicon.svg" type="image/svg+xml">
  <link href="./assets/base.css" rel="stylesheet">
  <link href="./assets/ui-kit.css" rel="stylesheet">
  <link href="./assets/motion.css" rel="stylesheet">
  <link href="./assets/header.css" rel="stylesheet">
  <link href="./assets/docs.css" rel="stylesheet">
  <link href="./assets/footer.css" rel="stylesheet">
  <script src="https://api-maps.yandex.ru/v3/?apikey=500c6f4f-b586-4c0e-b81b-e561c0686d72&lang=ru_RU"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@iconfu/svg-inject@1.2.3/dist/svg-inject.min.js"></script>
</head>
<body>
{{> Header }}
{{> TermsOfServiceSection }}
{{> Footer }}
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="./js/inject-svg.js" type="application/javascript"></script>
<script src="./js/motion.js" type="application/javascript"></script>
<script src="./js/ymap.js" type="application/javascript"></script>
</html>
