.main-landscape {
  padding-top: var(--header-height);
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main-landscape-image {
  min-height: 610px;
  bottom: 0;

  @media (max-width: 479px) {
    min-height: unset;
    height: 100%;
    bottom: 0;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}

.main-title-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 100px 20px;

  @media (max-width: 999px) {
    padding: 80px 20px;
  }

  @media (max-width: 767px) {
    padding: 60px 20px;
  }
}

.main-title-text {
  font-weight: 500;
  font-size: 32px;

  @media (max-width: 767px) {
    font-size: 22px;
  }

  @media (max-width: 479px) {
    text-align: center;
  }
}

.main-stat-container {
  display: flex;
  gap: 24px;
  width: 100%;
  flex-wrap: wrap;

  @media (max-width: 999px) {
    gap: 12px;
  }
}

.main-stat-button-container {
  @media (max-width: 479px) {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
