.docs-section {
  padding-top: var(--header-height);
  background: var(--primary-light-color);
  color: var(--primary-color);
}

.docs-section h2 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.docs-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.docs-head {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.docs-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.docs-content-article {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.docs-content-article b {
  font-weight: 700;
}

.docs-section li {
  display: flex;
  gap: 8px
}

.docs-section li.docs-content-article-sublist {
  display: block;
}

.docs-section li.docs-content-article-sublist .head-item {
  display: flex;
  gap: 8px
}

.docs-content-article-sublist-inner {
  padding-left: 37px;
}


@media (max-width: 479px) {
  .docs-container .secondary-title {
    font-size: 24px;
  }

  .docs-section h2 {
    font-size: 16px;
  }

  .page-container {
    font-size: 14px;
  }

  .page-container a {
    font-size: 14px;
  }
}

